#!/bin/bash

# Check if Docker is running
if ! docker info > /dev/null 2>&1; then
    echo "Docker is not running. Please start Docker and try again."
    exit 1
fi

# Create a Docker Swarm if not already initialized
if ! docker info | grep -q "Swarm: active"; then
    echo "Initializing Docker Swarm..."
    docker swarm init
fi

# Deploy the Docker Compose stack
echo "Deploying the Docker Compose stack..."
# Check if the overlay network already exists
if ! docker network ls | grep -q "{{ NETWORK_NAME }}"; then
    echo "Creating overlay network '{{ NETWORK_NAME }}'..."
    docker network create --driver overlay {{ NETWORK_NAME }}
else
    echo "Overlay network '{{ NETWORK_NAME }}' already exists."
fi

#docker build custom/jenkins image
docker build -t custom/img-jenk-ans-ter -f ../docker/stack/jenkins/dockerfile .

# Add insecure registry to Docker daemon configuration
# # Check if the Docker daemon configuration file exists
# sudo jq '. + { "insecure-registries": ["registry:5000"] }' /etc/docker/daemon.json | sudo tee /etc/docker/daemon.json.new && \
# sudo mv /etc/docker/daemon.json.new /etc/docker/daemon.json && \
# sudo systemctl restart docker
ansible-playbook -i ../ansible/inventory.ini ../ansible/playbooks/add_insecure_registry.yml --ask-become-pass

# Deploy the stacks
docker stack deploy -c ../docker/stack/jenkins/docker-compose.yml {{ STACK_NAME }}
docker stack deploy -c ../docker/stack/registry/docker-compose.yml {{ STACK_NAME }}

echo "CICD stack has been deployed."
